#codeBlock {
    font-size: 12px;
    font-weight: lighter;
    overflow: auto;
    border: 1px solid;
    margin-top: 15px;
    font-family: 'Courier New', Courier, monospace;
}

#sigDisplay {
    border: 1px solid;
    width: 373px;
    padding: 5px 5px;
}
