/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
  }
body {
    font-family: 'Lato', 'Futura PT', 'Helvetica', 'Tahoma', 'Times New Roman', sans-serif;
    font-weight: lighter;
    font-size: 12px;
    //margin: 0;
}
p {
    margin: 0; 
 }
 
 .title {
 font-weight: 100;
 }
 p.name {
     color: #EE202E;
     font-size: 16px;
     font-weight: bolder !important;
     text-transform: uppercase;
 }
 .contact span {
     font-weight: bolder;
     color: black;
 }
 
 .social img {
     width: 30px;
     padding: 3px;
 }
 
 .image img {
     width: 30px;
 }

 h1, h2, h3 {
     font-weight: 300;
 }